{% extends "base.html" %}

{% block title %}
	<title>Criar contato</title>
{% endblock title %}
(19)9-9980-1563
{% block content %}
	<h4>Preencha os campos abaixo para adicionar um novo contato:</h4>
	<form action="/criar_contato" method="POST" accept-charset="ISO-8859-1">
		<input type="text" size="100" maxlength="100" name="nome" 
		placeholder="Nome Completo" required autofocus>
		
		<input type="text" size="50" maxlength="15" name="telefone" 
		placeholder="Telefone ex.:(99)9-9999-9999" required	title="(99)9-9999-9999">
		
		<input type="text" size="100" maxlength="100" name="logradouro"
		placeholder="Logradouro ex.: Rua 1 ou Avenida 1">
		
		<input type="text" size="5" maxlength="5" name="numero" placeholder="Número">
		
		<input type="text" size="100" maxlength="100" name="complemento"
		placeholder="Complemento">
		
		<input type="text" size="100" maxlength="100" name="bairro" placeholder="Bairro">
		
		<input type="text" size="100" maxlength="100" name="cidade" placeholder="Cidade">
		
		<input type="text" size="2" maxlength="2" name="uf" placeholder="UF"
		list="uf" pattern="[A-Z]{2}">
		<datalist id="uf">
			<option value="AC"><option value="AL"><option value="AM">
			<option value="AP"><option value="BA"><option value="CE">
			<option value="DF"><option value="ES"><option value="GO">
			<option value="MA"><option value="MG"><option value="MS">
			<option value="MT"><option value="PA"><option value="PB">
			<option value="PE"><option value="PI"><option value="PR">
			<option value="RJ"><option value="RN"><option value="RO">
			<option value="RR"><option value="RS"><option value="SC">
			<option value="SE"><option value="SP"><option value="TO">
		</datalist>
		<br>
		<input type="submit" name="save" value="Salvar">
		<input type="reset" value="Limpar">
	</form>
{% endblock content %}