* {margin: 0; padding:0; text-decoration: none;}

body {
	font-family: Verdana, Geneva, sans-serif;
}

.container {
	margin: 0 auto;
	width: 95%;
	background-color: white;
}

header {
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0 5px;
	text-align: center;
	background-color:  #fff0e2;
}

menu {
	padding: 15px 0px 15px 15px;
}


ul, li{
	display: inline;
}

table{ 
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

table, th, td {
	border: 1px solid black;
}